
@{
    ViewData["Title"] = "Insert";
}

<h1>Insert</h1>

<form method="post">
    Division Id:
    <input type="text" name="divisionId" />

    Division Name:
    <input type="text" name="divisionName" />

    <input type="submit" value="Save" />
</form>